<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
  <html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Solutions</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <header>
        <nav>
        <div class="container">
            <div class="nav-left">
                <img src="css/logoUltimo.png" class="logo" >
            </div>
<nav>
    <a href="#Somos-job-solutions">Quiénes somos</a>
    <a href="/login-registro">Registrarse/Iniciar <br> Sesión </a>
    <!--<a href="/login-registro">Iniciar Sesion</a>-->



</nav>
        </div>
    </header>
<section id="hero">
<h1>Publicá tus servicios  <br>aqui! </h1>

<form action="/login-registro">  
    <button>Registrate!</button>
</form>
</section>
<section id="Somos-job-solutions">
    <div class="container">
        <div class="img-container"></div>
        <div class="texto">

           <h2>Somos Job <span class="color-acento">Solutions</span></h2>
           <p>Una plataforma enfocada en ofrecer la solución a encontrar tu empleo ideal el cual resalte tus más grandes habilidades.    </p>
        </div>
    </div>

</section>

<section id="nuestrosprogramas">
    <div class="container">    
    
    <h2>Nuestras Secciones </h2>

<div class="programas">

    <div class="carta">
        <h3>El servicio que desees en el momento que quieras </h3>
        <p>Contamos con una amplia variedad de servicios para el cliente</p>    
        
        <form action="/login-registro">
            
            <button>+ Info</button>
        </form>
    </div>
    
    <div class="carta">
        <h3>Completa con tus datos </h3>
        <p>obtené los mejores beneficios siendo parte de nuestro Sitio Web</p>    
        
        <form action="/login-registro">
            
            
            <button>+ Info</button>
        </form>
        
    </div>
    
    <div class="carta">
        <h3>Ofertas de Trabajo</h3>
        <p>Adquirí el Trabajo de tus sueños aqui!</p>
        
        <form action="/publicacionForm">
            
            
            <button>+ Info</button>
        </form>
    </div>
    

</div>
</div>
</section>

<section id="caracteristicas">
<div class="container">
<ul>


    <li>✔️Soporte las 24hs </li>
    <li>✔️ Atención personalizada para los usuarios</li>
    <li>✔️El mejor portal de empleo  </li>
</ul>


</div>

</section>
<section id="final">
<h2>
    Listo para ofrecer tus servicios?
</h2>
<form action="logg.html">

    <button>Publicar</button>
</form>
</section>

<footer>
    <div class="container">
        
        <p>&copy;Job Solution 2022</p>
    </div>
</footer>


</body>
</html>